// vairables here for theme setup

$primary:#1D1160;
$secondary:#48484f;
$font-size-base:0.8rem;
$body-color:#666;
$border-radius: 0.2rem;


$font-family-base: 'Source Sans Pro',sans-serif;

//  for grdients


$enable-gradients	:true;
$enable-rounded:    true !default;
$enable-transitions:true;
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'); 
@import '../node_modules/bootstrap/scss/bootstrap.scss';



//  date wrapper selector

.dateWrapperSelector{
    overflow: hidden;
   
   
    position: relative;


.text-center{
    white-space: nowrap;
    overflow: hidden;
   
    overflow-x: scroll;
   
    position: relative;
    width: 100%;
    label{
        margin: 0 5px;
        border-color: #d7d7d7;
        color: #767676;


    }
}

   
 
    &::before{
        position: absolute;
        content: "";
        width: 60px;
        height: 100%;
        left: 0;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 24%, rgba(255,255,255,0) 100%);
        top: 0;
        z-index: 2;
    }
    &::after{
        position: absolute;
        content: "";
        width: 60px;
        height: 100%;
        right: 0;
        background: rgb(255,255,255);
        background: linear-gradient(-90deg, rgba(255,255,255,1) 22%, rgba(255,255,255,0) 100%);
        top: 0;
        z-index: 2;
    }
}


//  footer section

#footer{
    font-size: $font-size-base - 2;
    .nav-link{
        padding: 5px;
        color: #767676;
        padding-left: 0;
    }
}